*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    background-color: #F9FAFF;
}


/* HEADER SECTION */
.header{
    margin: 50px 50px 5px 50px;
}


.main-header{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.navbar{
    display: flex;
    gap: 40px;

}
.navbar li{
    list-style: none;
}
.navbar a{
    color: #666;
    text-decoration: none;
}
.navbar a:hover{
    color: #666;
    text-decoration: underline 3px #FDC435;
}
.hr1{
    border: 1px solid #FDC435;
    margin-top: 8px;   
}


/* INTRO SECTION */
.section1{
    width: 100%;
    height: 800px;
    display: flex;

}
.text{
    width: 200px;
    text-align: start;
    flex: 1;
    position: relative;
    top: 170px;
    line-height: 25px;
    margin: 100px 100px;
}
.text h1{
    font-size: 70px;
    line-height: 65px;
}
.text h1>span{
    color: #FDC435;
    font-size: 50px;
    line-height: 65px;
}
.img{
    margin: 100px 100px;
    flex: 1;
}

.btn{
    padding: 15px;
    color: #000;
    font-weight: 600;
    background-color: #FDC435;    
    border-radius: 5px ;
    font-size: 15px;
    border: 1px solid #FDC435;
    transition: all 0.4s ease;
    margin-top: 5px;
    margin-right: 12px;
}
.btn:hover{
    transform: scale(1.2);
}
.btn a{
    color: #000;
    background-color: transparent;
    text-decoration: none;
}
.btns a{
    color: #000;
    background-color: transparent;
    text-decoration: none;
}
.btns{
    padding: 15px;
    font-weight: 600;
    color: #000;
    background-color: transparent;    
    border-radius: 5px ;
    font-size: 15px;
    border: 1px solid #000;
    transition: all 0.4s ease;
}
.btns:hover{
    background-color: #FDC435;    
    border: 1px solid #FDC435;
    transform: scale(1.2);
}






/* ANIMATION */



/* This only changes this particular animation duration */
.animate__animated.animate__bounce {
    --animate-duration: 2s;
  }
  
  /* This changes all the animations globally */
  :root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }










/* PROJECT SECTION */
.projectSection{
    margin-top: 160px;
    text-align: center;
    
}

.hrh{
    border: 1px solid #FDC435;
    margin-bottom: 8px;
    margin-left: 850px;
    margin-right: 850px;
}
.project1{
    height: 300px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: #FDC435;
}
.p1{
    width: 700px;
    height: 300px;
    padding: 80px 10px;
    border: none;
    border-radius: 25px 0 0 25px;
    box-shadow: 0 10px 50px 0 #888888;

}

.p2 img{
    width: 700px;
    height: 300px;
    border: none;
    border-radius: 0 25px 25px 0; 
    box-shadow: 0 10px 50px 0 #888888;
}
.project2{
    height: 300px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: #FDC435;
}
.p4{
    width: 700px;
    height: 300px;
    padding: 80px 10px;
    border: none;
    border-radius: 0 25px 25px 0;
    box-shadow: 0 10px 100px 0 #888888;

}

.p3 img{
    
    width: 700px;
    height: 300px;
    border: none;
    border-radius: 25px 0 0 25px ; 
    box-shadow: 0 0 100px 0 #888888;
}
.projects{
    display: flex;
    flex-direction: column;
    gap: 100px;
    background-color: #FDC435;
}


.project3{
    height: 300px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: #FDC435;
}
.p5{
    width: 700px;
    height: 300px;
    padding: 80px 10px;
    border: none;
    border-radius: 25px 0 0 25px;
    box-shadow: 0 10px 50px 0 #888888;

}

.p6 img{
    width: 700px;
    height: 300px;
    border: none;
    border-radius: 0 25px 25px 0; 
    box-shadow: 0 10px 50px 0 #888888;
}




/* CONTACT SECTION */
.contactSection{
    margin-top: 200px;
    height: 800px;
    
}
.contactSection h1{
    text-align: center;
}
.formSection{
    display: flex;
    flex-direction: column;
    flex: 1;    
    display: flex;
    width: 60%;
    margin: 0 auto;
    gap: 10px;
    margin-top: 20px;
    /* border: 1px solid #FDC435; */
    border: none;
    background-color: #FDC435;
    border-radius: 15px;
    margin-top: 150px;
    padding: 55px;
}
label{
    color: #000;
    background-color: transparent;
}
input{
    border: 1px solid #FFA24C;
    padding: 16px;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
}
textarea{
    border: 1px solid #FFA24C;
    background-color: transparent;
    outline: none;
    padding: 16px;
    height: 100px;
}
input:hover{
    border: none;
    box-shadow: 0 10px 50px 0 #FFA24C;
}
textarea:hover{
    border: none;
    box-shadow: 0 10px 50px 0 #FFA24C;
}
.submitBtn{
    border: none;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    margin-top: 15px;
}
.submitBtn:hover{
    box-shadow: 0 10px 50px 0 #FFA24C;
    border: none;
    padding: 15px;
    cursor: pointer;
}




















.icons{
    margin-top: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30px;
    
}
.fa-square-facebook, .fa-square-instagram, .fa-linkedin{
    color: #000;
    font-size: 50px;
}
.fa-square-facebook:hover, .fa-square-instagram:hover, .fa-linkedin:hover{
    color: #FDC435;
    background-color: #fff;
    font-size: 50px;
}

.copyright a{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #000;
    text-decoration: none;
}

.copyright a:hover{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #FDC435;
    text-decoration: underline;
}









@media only screen and (max-width : 500px){
    /* HEADER SECTION */
    .header{
        margin: 50px 0 5px 0;

    }
    .main-header{
        display: flex;
        flex-direction: column;
    }

    .section1{

        height: 50vh;
        width: 100%;

    
    }
    .text{
        width: 100%;
        padding: 20px;
        text-align: center;
        margin: 0;
    }
    .img{
        display: none;
    }




    /* PROJECT SECTION */
    .projectSection{
        margin-top: 250px;
    }
    .hrh{
        border: 1px solid #FDC435;
        margin-bottom: 98px;
        margin-left: 0;
        margin-right: 0;
    }
    .heading{
        padding-top: 100px;
    }
    .project1{
        height: 150px;
        flex-direction: column;
        align-items: center;
        padding-top: 250px;
        
        background-color: #F9FAFF;
    }
    .p1{
        width: 396px;
        height: 300px;
        padding: 80px 10px;
        border: none;
        border-radius: 25px;
        box-shadow: 0 10px 100px 0 #888888;
        
    }
    
    .p2 img{
        display: none;
        
    }
    .projects{
        background-color: #F9FAFF;
    }

    .project2{
        height: 150px;
        margin-top:90px;
        flex-direction: column;
        align-items: center;

        background-color: #F9FAFF;
        gap: 50px;
    }
    .p4{
        width: 396px;
        height: 300px;
        padding: 80px 10px;
        border: none;
        border-radius: 25px;
        box-shadow: 0 10px 100px 0 #888888;
        
    }
    
    .p3 img{
        display: none;
        
    }
    .project3{
        height: 150px;
        margin-top: 90px;
        flex-direction: column;
        align-items: center;

        background-color: #F9FAFF;
       
    }
    .p5{
        width: 396px;
        height: 300px;
        padding: 80px 10px;
        border: none;
        border-radius: 25px;
        box-shadow: 0 10px 100px 0 #888888;
        
    }
    
    .p6 img{
        display: none;
    }

    /* CONTACT SECTION */
    .contactSection{
        margin-top: 150px;
        height: 400px;
        
    }
    .contactSection h1{
        text-align: center;
    }
    .formSection{
        display: flex;
        flex-direction: column;
        flex: 1;    
        display: flex;
        width: 80%;
        margin: 0 auto;
        gap: 10px;
        margin-top: 20px;
        background-color: transparent;
        border: none;
        border-radius: 15px;
        margin-top: 100px;
        padding: 15px;
    }
    input:focus{
        border: none;
        box-shadow: 0 10px 50px 0 #FFA24C;
    }
    textarea:focus{
        border: none;
        box-shadow: 0 10px 50px 0 #FFA24C;
    }
}